<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Templeate</title>

    <link rel="stylesheet" href="css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
   
        <header id="cabecalho">    
            <div id="find">
                    <div id="lupa">
                        <span class="material-symbols-outlined">
                           Search
                        </span>
                <input type="text" id="busca" placeholder="Buscar">
                    </div>
                </div>    
               
           <div id="logo">
            <img id="logo" class="cabecalho" src="img/nike.PNG" alt="nike">
           </div> 
            
        <ul id="usuario" type="circle">
            <li>
                <a href="#">Ajuda</a>
            </li>
            <li>
                <a href="#">Junte-se a nós</a>
            </li>
            <li>
                <a href="#">Entrar</a>
            </li>
        </ul>

        <div id="favorito">
            <span class="material-symbols-outlined">
            favorite
            </span>
        </div>

        <div id="sacola">
            <span class="material-symbols-outlined">
                shopping_bag
                </span>
        </div>
        </header> <!--suporte introdutório, seções de cabeçalho  -->
        <nav id="navegacao"><!--representa a seção de navegação, apontas para outras areas da-->
        
            <ul id="lista" type="circle">
                <li>
                    <a href="inicio.html">inicio</a>
                </li>

                <li>
                    <a href="masculino.html">Masculino</a>
                </li>

                <li>
                    <a href="feminino.html">Feminino</a>
                </li>

                <li>
                    <a href="infantil.html">Infantil</a>
                </li>
                <li>
                    <a href="lacamento.html">Lançamentos</a>
                </li>
                <li>
                    <a href="ofertas.html">Ofertas</a></li>
                <li> 
                    <a href="membros.html">Membros</a></li>
            </ul>

            <a href="jordan.html">
                <img src="img/jordan.png" alt="jordan" id="jordan" class="simbolos">
            </a>
            <a href="snkrs.html">
                <img src="img/snkrs.png" alt="snkrs" id="sn" class="simbolos">
            </a>
        </nav> 
        
   
        <div id="image"> <!--utilizado para agrupar elementos para fins de estilo-->
           
            <div id="nome">
                <a href="#">
                    <h1>Nike Invivinble</h1>
                </a>
            </div>
           
           
            <video id="zoom" autoplay loop> <!--tag que suporta formatos de videos comuns, "autoplay" para que seja reproduzido de forma automatica "loop" para que o video fique sendo reproduzido sem parar-->
                <source src="/img/zoom.mp4" type="video/mp4">
            </video>
        </div> 
        
        <main id="principal"> <!--define o conteúdo principal dentro do <body> em seu documento--> 
        
        <div id="conheca">
            <h1>Conheça também:</h1>
        </div>
        
        <a href="#">
            <section id="bloco1" class="blocos"><!--representa uma seção genérica em um documento-->
                <div class="text">
                    <p>Encontre o tênis ideal para o seu tipo de corrida
                    </p>
                </div>
                    <div class="botao">
                       <h1>Saiba Mais</h1> 
                    </div>
                
            </section> 
        </a> 
      
        <a href="#">
            <section id="bloco2" class="blocos">
                <div class="text">
                    <p>Acerte sempre no presente para seus atletas favoritos
                    </p>
                </div>
                    <div class="botao">
                       <h1>Saiba Mais</h1> 
                    </div>
                
            </section>
        </a>
            
        <a href="#">
            <section id="bloco3" class="blocos">
                <div class="text">
                    <p>Conheça os tênis mais desejados da nike
                    </p>
                </div>
                    <div class="botao">
                       <h1>Saiba Mais</h1> 
                    </div>
                
            </section>    
        </a>
            
        
        </main> 
        
        
        <footer id="rodape"> <!--elemento que representa o rodapé para um conteudo de seção -->



        </footer> 








    </div>
</body>
</html>